<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mileage-allowance-form">
        <div class="mileage-allowance-form__block">
            <h4 class="mileage-allowance-form__block__title">Indemnités kilométriques</h4>
            <div class="mileage-allowance-form__block__input-wrapper">
                <div class="mileage-allowance-form__block__input-wrapper__item form-group"
                     data-role="ik-block-date">
                    <label for="date" class="mileage-allowance-form__block__input-wrapper__item__label">Date</label>
                    <div class="mileage-allowance-form__block__input-wrapper__item__input">
                        <input
                            formControlName="date"
                            type="date"
                            data-role="ik-input-date"
                            class="form-control"
                            name="date"
                            required
                            id="date" />
                        <div *ngIf="form.get('date').invalid && (form.get('date').dirty || form.get('date').touched)" class="alert alert-danger">
                            <div *ngIf="form.get('date').errors['required']">
                                Ce champ est obligatoire.
                            </div>
                            <div *ngIf="form.get('date').errors['pattern']">
                                La date devrait respecter aaaa-mm-jj.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mileage-allowance-form__block__input-wrapper__item form-group"
                     data-role="ik-block-journey">
                    <label for="journey"
                           class="mileage-allowance-form__block__input-wrapper__item__label">Trajet</label>
                    <div class="mileage-allowance-form__block__input-wrapper__item__input">
                        <input
                            formControlName="journey"
                            type="text"
                            data-role="ik-input-journey"
                            placeholder="ex: AR Annecy-Grenoble"
                            class="form-control"
                            name="journey"
                            required
                            id="journey" />
                        <div *ngIf="form.get('journey').invalid && (form.get('journey').dirty || form.get('journey').touched)" class="alert alert-danger">
                            <div *ngIf="form.get('journey').errors['required']">
                                Ce champ est obligatoire.
                            </div>
                            <div *ngIf="form.get('journey').errors['pattern']">
                                Le nom ne doit contenir que des lettres.
                            </div>
                        </div>
                    </div>
                </div>
                <div [ngClass]="{
                  'mileage-allowance-form__block__input-wrapper__item form-group':!vehiclesService.isCustomizable(this.form.get('vehicleSelected').value),
                  'mileage-allowance-form__block__input-wrapper__item--3col form-group2':vehiclesService.isCustomizable(this.form.get('vehicleSelected').value)
                  }"
                     data-role="ik-block-distance">
                    <label for="distance" class="mileage-allowance-form__block__input-wrapper__item__label">
                        Distance parcourue (en km)
                    </label>
                    <div class="mileage-allowance-form__block__input-wrapper__item__input">
                        <input
                            formControlName="distance"
                            type="text"
                            data-role="ik-input-distance"
                            placeholder="ex: 120"
                            pattern="[0-9]+"
                            class="form-control"
                            name="distance"
                            required
                            id="distance" />
                        <div *ngIf="form.get('distance').invalid && (form.get('distance').dirty || form.get('distance').touched)"
                             class="alert alert-danger">
                            <div *ngIf="form.get('distance').errors['required']">
                                Ce champ est obligatoire.
                            </div>
                            <div *ngIf="form.get('distance').errors['pattern']">
                                Seul des chiffres sont acceptés
                            </div>
                        </div>
                    </div>
                </div>
                <div [ngClass]="{
                      'mileage-allowance-form__block__input-wrapper__item form-group':!vehiclesService.isCustomizable(this.form.get('vehicleSelected').value),
                      'mileage-allowance-form__block__input-wrapper__item--3col form-group2':vehiclesService.isCustomizable(this.form.get('vehicleSelected').value)
                     }"
                     data-role="ik-block-vehicle">
                    <label for="vehicle" class="mileage-allowance-form__block__input-wrapper__item__label">
                        Véhicule
                    </label>
                    <div class="mileage-allowance-form__block__input-wrapper__item__input">
                        <select
                            formControlName="vehicleSelected"
                            data-role="ik-input-vehicle"
                            class="form-control"
                            name="vehicle"
                            id="vehicle">
                        <option [ngValue]="undefined" disabled selected>Votre véhicule</option>
                        <option *ngFor="let vehicle of vehiclesService.vehicles, let i = index" [ngValue]="i">
                            {{ vehicle.typeOfRate }} {{ vehicle.horsePower }} ({{ vehicle.allowance }}€/km)
                        </option>
                        </select>
                        <div *ngIf="form.get('vehicleSelected').invalid && (form.get('vehicleSelected').dirty || form.get('vehicleSelected').touched)" class="alert alert-danger">
                            <div *ngIf="form.get('vehicleSelected').errors['required']">
                                Ce champ est obligatoire.
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="vehiclesService.isCustomizable(this.form.get('vehicleSelected').value)" [ngClass]="{
                      'mileage-allowance-form__block__input-wrapper__item form-group':!vehiclesService.isCustomizable(this.form.get('vehicleSelected').value),
                      'mileage-allowance-form__block__input-wrapper__item--3col form-group2':vehiclesService.isCustomizable(this.form.get('vehicleSelected').value)
                     }"
                     data-role="ik-block-tax-rate">
                    <label for="taxRate" class="mileage-allowance-form__block__input-wrapper__item__label">
                        Taux personnalisé (€/km)
                    </label>
                    <div class="mileage-allowance-form__block__input-wrapper__item__input">
                        <input
                            formControlName="allowance"
                            data-role="ik-input-tax-rate"
                            placeholder="ex: 0.650"
                            type="text"
                            pattern="^[0-9.]+$"
                            class="form-control"
                            name="taxRate"
                            required
                            id="taxRate"/>
                        <div *ngIf="form.get('allowance').invalid && (form.get('allowance').dirty || form.get('allowance').touched)" class="alert alert-danger">
                            <div *ngIf="form.get('allowance').errors['required']">
                                Ce champ est obligatoire.
                            </div>
                            <div *ngIf="form.get('allowance').errors['pattern']">
                                Seul des chiffres et un point sont acceptés
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mileage-allowance-form__block__submit">
                    <button
                        data-role="button-add-ik"
                        data-text="Ajouter"
                        class="mileage-allowance-form__block__submit__button">
                        <span>Ajouter</span>
                    </button>
                </div>
                <app-expense-mileage-table
                    (changed)="changed.emit(true)">
                </app-expense-mileage-table>
            </div>
        </div>
    </div>
</form>
