<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="flat-fee-form">
        <div class="flat-fee-form__block">
            <h4 class="flat-fee-form__block__title">Déplacements forfaitaires </h4>
            <div class="flat-fee-form__block__input-wrapper">
                <div class="flat-fee-form__block__input-wrapper__item form-group" data-role="flat-fee-block-date">
                    <label for="date" class="flat-fee-form__block__input-wrapper__item__label">Date</label>
                    <div class="flat-fee-form__block__input-wrapper__item__input">
                        <input
                            formControlName="date"
                            type="date"
                            class="form-control"
                            name="date"
                            required
                            id="date"
                            data-role="flat-fee-input-date"/>
                        <div *ngIf="form.get('date').invalid && (form.get('date').dirty || form.get('date').touched)" class="alert alert-danger">
                            <div *ngIf="form.get('date').errors['required']">
                                Ce champ est obligatoire.
                            </div>
                            <div *ngIf="form.get('date').errors['pattern']">
                                La date devrait respecter aaaa-mm-jj.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flat-fee-form__block__input-wrapper__item form-group" data-role="flat-fee-block-amount">
                    <label for="amount" class="flat-fee-form__block__input-wrapper__item__label">
                        Montant HT (€)
                    </label>
                    <div class="flat-fee-form__block__input-wrapper__item__input">
                        <input
                            type="text"
                            formControlName="amount"
                            name="amount"
                            id="amount"
                            data-role="flat-fee-input-amount"
                            class="form-control"
                            placeholder="ex: 25.50"
                            required/>
                        <div *ngIf="form.get('amount').invalid && (form.get('amount').dirty || form.get('amount').touched)" class="alert alert-danger">
                            <div *ngIf="form.get('amount').errors['required']">
                                Ce champ est obligatoire.
                            </div>
                            <div *ngIf="form.get('amount').errors['pattern']">
                                Seul des chiffres et un point sont acceptés
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flat-fee-form__block__submit">
                    <button data-text="Ajouter"
                            class="flat-fee-form__block__submit__button"
                            data-role="button-add-flat-fee">
                        <span>Ajouter</span>
                    </button>
                </div>
                <app-expense-flat-fee-table
                    (changed)="changed.emit(true)"
                ></app-expense-flat-fee-table>
            </div>
        </div>
    </div>
</form>
